<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="https://devsearch-buck.s3.ap-southeast-2.amazonaws.com/profiles/icon.svg" type="image/x-icon" />
    <!-- Icon - IconMonster -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- Mumble UI -->
    <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}" />
    <!-- Dev Search UI -->
    <link rel="stylesheet" href="{% static 'styles/app.css' %}" />

    <title>DevSearch - Connect with Developers!</title>
</head>
    <body>
        {% include 'navbar.html' %}

        <!-- {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} -->
        
        {% if messages %}
        {% for message in messages %}
            <div style="position: fixed; top: 150px; left: 50%; transform: translate(-50%, -50%); z-index: 99999;" class="alert alert--{{message.tags}}">
                <p class="alert__message">{{message}}</p>
                <button class="alert__close">x</button>
            </div>
        {% endfor %}
        {% endif %}

        {% block content %}

        {% endblock content %}
    </body>
<script src="{% static 'uikit/app.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</html>